* {
  margin: 0;
  padding: 0;
}

.chartX {
  width: 670px;
  height: 250px;
  position: relative;
  border-top: 1px solid #ccc;
  margin: 100px auto;
  background: linear-gradient(to top, #ccc 0, #ccc 1px, transparent 1px);
  background-size: 100% 50px;
  font-size: 0;
  text-align: center;
}

.chartX::after {
  content: '100 \a 80 \a 60 \a 40 \a 20 \a 0 ';
  line-height: 50px;
  white-space: pre;
  position: absolute;
  font-size: 12px;
  top: -25px;
  left: -2rem;
  text-align: right;
}

.result-bg {
  display: inline-block;
  position: relative;
  width: calc((100% - 16px * 13) / 12);
  height: 100%;
  background: #eee;
}

.result-bg + .result-bg {
  margin-left: 16px;
}

.result-bg::after {
  content: attr(data-month)'月';
  font-size: 12px;
  color: grey;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
}

.result-bar {
  width: 100%;
  background: #69a8f7;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Setting top: 0; left: 0; bottom: 0; right: 0; 
gives the browser a new bounding box for the block. 
At this point the block will fill all available space in 
its offset parent, which is the body or position: relative; container. 
Developer.mozilla.org: For absolutely positioned elements, 
the top, right, bottom, and left properties specify offsets 
from the edge of the element’s containing block 
(what the element is positioned relative to). */

/**
absolute
The box’s position (and possibly size) is specified with the top, right, bottom, and left properties. These properties specify offsets with respect to the box’s containing block. Absolutely positioned boxes are taken out of the normal flow. This means they have no impact on the layout of later siblings. Though absolutely positioned boxes may have margins, those margins do not collapse with any other margins.
https://www.w3.org/TR/css-position-3/#containing-block
he position and size of an element’s box(es) are sometimes computed relative to a certain rectangle, called the containing block of the element. The containing block of a static or relative element is defined in the Box Model [CSS3BOX]. The containing block of a sticky element is the same as for a relative element. For fixed and absolute, it is defined as follows:

If the element has position: fixed, the containing block is established by the viewport in the case of continuous media or the page area in the case of paged media.
If the element has position: absolute, the containing block is established by the nearest ancestor with a position other than static, in the following way:
In the case that the ancestor is block-level, the containing block is formed by the padding edge of the ancestor.
In the case that the ancestor is inline-level, the containing block depends on the direction property of the ancestor:
If the direction is ltr, the top and left of the containing block are the top and left content edges of the first box generated by the ancestor, and the bottom and right are the bottom and right content edges of the last box of the ancestor.
If the direction is rtl, the top and right are the top and right edges of the first box generated by the ancestor, and the bottom and left are the bottom and left content edges of the last box of the ancestor.
Note, in some cases when a line wraps it may seem as if the left and right positions are swapped.

If there is no such ancestor, the containing block is the initial containing block.
**/
.dot {
  border: 2px solid #97cd74;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto;
}

.dot i {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  background: #97cd74;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  transform-origin: left;
  transform: rotate(0.43007813505586256rad);
  z-index: 1;
}